@use "sass:map";
@import 'https://fonts.googleapis.com/css2?family=Tektur&display=swap';


$theme-colors: (
    "RoyalPurpple":#923ee1,
    "LightBlue":#00c0c0,
    "Lime": #32cd32,
    "MediumGray": #888686,
    "Coral":#fc7878,
    "CornSilk":#fff8dc
);
    

@function getColor($name){
    @return map.get($theme-colors,$name)
};
::-webkit-scrollbar{
    width: 6px;
    background-color: getColor("MediumGrey");
}
::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: getColor("Coral");
    border-radius: 4px;
}
::-webkit-scrollbar-track{
    background-color: getColor("RoyalPurpple");

}

body{
    display: flex;
    flex-direction: column;
    width: 534px;
    background-color: getColor("RoyalPurpple");
    color:getColor("Lime");
    padding:0 8px;
    font-family: 'Tektur', cursive;
    font-weight: bold;
    .guard_status{
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 546px;
        position: sticky;
        p{
            margin-right: 8px;
        }
    }
}

button{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    min-width: 124px;
    min-height: 32px;
    border-radius: 12px;
    padding:12px;
    border: none;
    border: 1px solid getColor("MediumGray");
    box-shadow: 0px 10px 10px rgba(0,0,0,0.0);
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(332deg, rgba(0,255,255,1) 0%, rgba(138,43,226,0.7063200280112045) 100%);
    color: getColor("RoyalPurpple");
}


#requests_list{
    display: inline-flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    padding: 0 4px 0 0;
    margin: 0;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    &>li{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        color:getColor("CornSilk");
        margin-bottom: 8px;
        border: 1px dashed black;
        border-radius: 8px;
        background-color: getColor("Coral");
        span{
            display: inline-flex;
            flex-direction: column;
            width: 100%;
            padding: 2px 4px;
            word-wrap: break-word;
            &:not(:last-of-type){
                border-bottom: 1px dashed getColor("MediumGray");
            }
            box-sizing: border-box;
        }
    }
}